body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  #app {
    max-width: 960px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="file"],
  button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 22px);
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  #qrcode {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  /*  เพิ่มเติม  CSS  ตามความเหมาะสม  */

  #app h1{
    text-align: center;
  }
  form input[type="submit"]{
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 0;
    font-weight: bold;
    background-color: #007bff;
    color: white;
  }

  .loginbutton img{
    display: flex;
    width: 25px;
    align-items: center;
    margin: 0 10px;
  }
  a.loginbutton{
    background-color: #F3F1F1;
    border: #CCCCCC 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 10px 0;
    border-radius: 3px;
    text-decoration: none;
    color: #7C7C7C;
  }